html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.4;
  font-family: DINPro, Helvetica, Arial, Sans-Serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  max-width: 2600px;
  padding: 0px 15px;
}

@font-face {
  font-family: "Telefonica-Bold";
  src: url(../founds/Telefonica-Bold.woff);
}

@font-face {
  font-family: "Telefonica-ExtraLight";
  src: url(../founds/Telefonica-ExtraLight.woff);
}

@font-face {
  font-family: "Telefonica-Light";
  src: url(../founds/Telefonica-Light.woff);
}

@font-face {
  font-family: "Telefonica-Regular";
  src: url(../founds/Telefonica-Regular.woff);
}

@font-face {
  font-family: "Telefonica-RegularItalic";
  src: url(../founds/Telefonica-RegularItalic.woff);
}

/*Personal Styles*/

/*Section Header*/

.container_Header {
  font-size: 0px;
  padding: 20px 5rem;
  position: relative;


}

@media (max-width: 426px) {

  .container_Header {

    padding: 20px 0px;

  }

}

.container_Header .content_header {
  margin: 0 auto;
  display: flex;
  width: 90%;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}


.container_Header .content_header .logo_header {

  width: 20%;
  height: auto;

}

@media (max-width: 426px) {

  .container_Header .content_header .logo_header {

    width: 150px;

  }

}

.container_Header .content_header .container_partners {

  text-align: end;
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;

}


.container_Header .content_header .container_partners .partener_1 {

  width: 150px;
  height: auto;
  margin-right: 55px;

}

@media (max-width: 426px) {

  .container_Header .content_header .container_partners .partener_1 {

    width: 100px;
    margin-right: 10px;

  }

}

.container_Header .content_header .container_partners .partener_2 {

  width: 95px;
  height: auto;

}

@media (max-width: 426px) {

  .container_Header .content_header .container_partners .partener_2 {

    width: 50px;

  }

}


/*Section Slider*/

.container_banner {
  display: flex;
  height: 60vh;
  background-image: url(../img/img_slider.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

@media (max-width: 1200px) {

  .container_banner {

    height: 38vh;

  }
}


.container_banner .box {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1255px;
  padding: 50px 3rem;
  flex-direction: column;
  margin: 0px auto;
}

@media (max-width: 2200px) {

  .container_banner .box {
    width: inherit;

  }

}

@media (max-width: 426px) {

  .container_banner .box {

    width: 100%;
    padding: 50px 10px;

  }


}


.container_banner .box p {

  font-size: 55px;
  font-family: 'Telefonica-Bold', sans-serif;
  color: white;

}

@media (max-width: 2200px) {

  .container_banner .box p {
    font-size: 25px;

  }

}

@media (max-width: 426px) {

  .container_banner .box p {

    font-size: 19px;

  }

}


/*Hero slider Section*/

.container_spaceBarr {

  background-color: #00B5f0;
  padding-bottom: 10px;

}

.Hero-slider {

  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
  font-size: 0;

}

.Hero-slider .Hero-slider-container {
  padding: 0px;

}


.Hero-slider .Hero-slider-container .Container_text {

  text-align: center;
  vertical-align: middle;
  align-content: center;
  max-width: 946px;
  margin: auto;
  padding-top: 14px;
  padding-bottom: 20px;

}

.Hero-slider .Hero-slider-container .Container_text p {

  color: #00B5f0;
  font-size: 26px;
  font-weight: normal;
  font-family: Telefonica-Light, sans-serif;

}

@media (max-width: 426px) {

  .Hero-slider .Hero-slider-container .Container_text p {

    font-size: 20px;

  }
}



/*Section Benefits*/

.Section_benefitsInfo {

  font-size: 0;
  margin: 0px auto;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 35px 0px;

}

@media (max-width: 426px) {

  .Section_benefitsInfo {

    max-width: 90%;
    padding: 20px 0px;

  }
}

@media (max-width: 426px) {

  .Section_benefitsInfo .container_Info {

    padding: 0px;

  }

}


.Section_benefitsInfo .container_Info .container_tittle {

  color: #00B5f0;
  font-size: 26px;
  font-weight: normal;
  font-family: 'Telefonica-Light', sans-serif;
  margin: 20px 0px;
  display: inline-block;
  width: 100%;
  text-align: center;

}

@media (max-width: 426px) {

  .Section_benefitsInfo .container_Info .container_tittle {

    font-size: 20px;

  }

}

.Section_benefitsInfo .container_Info .info_content .list-group-horizontal-xxl {

  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 60%;

}

@media (max-width: 1980px) {

  .Section_benefitsInfo .container_Info .info_content .list-group-horizontal-xxl {

    width: 80%;

  }

}



@media (max-width: 1200px) {

  .Section_benefitsInfo .container_Info .info_content .list-group-horizontal-xxl {

    width: 100%;

  }

}


.Section_benefitsInfo .container_Info .info_content .list-group-item .container_icon {

  width: auto;
  vertical-align: middle;
  margin-right: 40px;
  text-align: left;

}

@media (max-width: 1200px) {

  .Section_benefitsInfo .container_Info .info_content .list-group-item .container_icon {

    margin: 15px auto;

  }

}


.Section_benefitsInfo .container_Info .info_content .list-group-item {

  border: none !important;
  text-align: left;
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

@media (max-width: 1200px) {

  .Section_benefitsInfo .container_Info .info_content .list-group-item {

    flex-direction: column;

  }

}

.Section_benefitsInfo .container_Info .info_content .list-group .list-group-item .container_text {

  width: auto;
  vertical-align: middle;
  text-align: left;

}

@media (max-width: 1200px) {

  .Section_benefitsInfo .container_Info .info_content .list-group .list-group-item .container_text {

    text-align: center;

  }

}

.Section_benefitsInfo .container_Info .info_content .list-group .list-group-item .container_text h5 {

  font-size: 25px;
  font-family: Telefonica-Regular, sans-serif;
  margin-bottom: 8px;
  color: #00B5f0;
}

@media (max-width: 426px) {

  .Section_benefitsInfo .container_Info .info_content .list-group .list-group-item .container_text h5 {

    font-size: 20px;

  }

}

.Section_benefitsInfo .container_Info .info_content .list-group .list-group-item .container_text p {

  font-family: Telefonica-Light, sans-serif;
  font-size: 20px;
  color: #414C62;
  font-weight: 400;

}

@media (max-width: 426px) {

  .Section_benefitsInfo .container_Info .info_content .list-group .list-group-item .container_text p {

    font-size: 16px;

  }
}


/*Styles advantajes*/


.Section_advantage {

  font-size: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
  position: relative;

}

@media (max-width: 426px) {

  .Section_advantage {

    margin: 0px;
    max-width: 100%;
    padding: 16px;

  }

}


.Section_advantage .container_advantage {

  padding: 0 80px;

}

@media (max-width: 426px) {

  .Section_advantage .container_advantage {

    padding: 0;

  }

}

.Section_advantage .container_advantage h4 {

  font-size: 25px;
  font-weight: 400;
  font-family: Telefonica-Regular, sans-serif;
  padding-bottom: 15px;
  color: #00B5f0;
  line-height: 1.1 !important;
  text-rendering: optimizelegibility;
  text-align: center;

}

.Section_advantage .container_advantage p {

  font-size: 19px;
  font-family: Telefonica-Light, sans-serif;
  margin: 8px 0px;
  padding-bottom: 20px;
  text-align: center;

}

.Section_advantage .container_advantage img {

  width: 100%;
  max-width: 1100px;
  height: auto;
  display: block;
  margin: 20px auto;

}

/*Section useles*/

.Section_uses {

  font-size: 0;
  margin: 0px auto;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 35px 0px;

}


@media (max-width: 426px) {

  .Section_uses {

    max-width: 90%;

  }

}


.Section_uses .uses_container {

  padding: 0 50px;

}

@media (max-width: 426px) {

  .Section_uses .uses_container {

    padding: 0 15px;

  }

}


.Section_uses .uses_container .container_usesInfo {
  padding: 8px 0px;

}

.Section_uses .uses_container .container_usesInfo h4 {

  font-size: 25px;
  font-weight: 400;
  font-family: Telefonica-Regular, sans-serif;
  padding-bottom: 15px;
  color: #00B5f0;
  line-height: 1.1 !important;

}

@media (max-width: 426px) {

  .Section_uses .uses_container .container_usesInfo h4 {

    font-size: 20px;

  }

}

.Section_uses .uses_container .container_usesInfo p {

  font-size: 19px;
  font-family: Telefonica-Light, sans-serif;
  padding: 8px 0px;
  text-align: start;

}

@media (max-width: 426px) {

  .Section_uses .uses_container .container_usesInfo p {

    font-size: 16px;
    text-align: center;

  }

}


.Section_uses .uses_container .container_accordion {

  margin: 25px auto;

}

.Section_uses .uses_container .container_accordion .accordion .accordion-item .accordion-header button {

  font-family: Telefonica-Regular, sans-serif;
  font-size: 20px;
  vertical-align: top;
  color: #AFB6C9;
  transition: 0.8s;
  justify-content: space-between;

}

.Section_uses .uses_container .container_accordion .accordion .accordion-item .accordion-header button::after {

  background-image: none;
  content: none;

}

.Section_uses .uses_container .container_accordion .accordion .accordion-item .accordion-header .accordion-button .container_svgIcon svg:hover {

  fill: white;

}

.Section_uses .uses_container .container_accordion .accordion .accordion-item .accordion-header .accordion-button .container_svgIcon svg {

  width: 20px;

}

.Section_uses .uses_container .container_accordion .accordion .accordion-item .accordion-header .accordion-button .container_svgIcon svg .cls-1 {

  fill: black;

}

.Section_uses .uses_container .container_accordion .accordion .accordion-item .accordion-header .accordion-button .container_svgIcon svg .cls-2 {

  fill: black;

}

.Section_uses .uses_container .container_accordion .accordion .accordion-item button:hover {

  background-color: #00B5f0;
  color: white;

}

.Section_uses .uses_container .container_accordion .accordion .accordion-item button i {

  margin: 0px 8px;

}

.Section_uses .uses_container .container_accordion .accordion .accordion-item .accordion-collapse {

  font-size: 19px;
  font-family: Telefonica-Light, sans-serif;

}

.Section_uses .uses_container .container_accordion .accordion .accordion-item .accordion-collapse p {

  text-align: left;

}


@media (max-width: 426px) {

  .Section_uses .uses_container .container_accordion .accordion .accordion-item .accordion-collapse p {

    font-size: 18px;

  }

}

.Section_uses .uses_container .container_accordion .accordion .accordion-item .accordion-collapse ul {

  text-align: left;
  padding: 20px;
  list-style-type: disc;

}

.Section_uses .uses_container .container_accordion .accordion .accordion-item .accordion-collapse ul li {

  font-size: 15px;
  line-height: 1.3;
  margin: 20px 0;

}

@media (max-width: 426px) {

  .Section_uses .uses_container .container_accordion .accordion .accordion-item .accordion-collapse ul li {

    font-size: 14px;
    line-height: 1.4;


  }
}


/*Section Contact*/

.section_contactUs {

  font-size: 0;
  padding: 35px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}

@media (max-width: 1200px) {

  .section_contactUs {

    font-size: 0;
    padding: 0px 0px;
    margin: inherit;
    max-width: inherit;
    text-align: center;
  }

}

.section_contactUs .container_contactUs {

  padding: 20px 80px;

}

@media (max-width: 426px) {

  .section_contactUs .container_contactUs {

    padding: 15px 45px;

  }
}

.section_contactUs .container_contactUs .text_contactUs {

  text-align: center;

}

@media (max-width: 1200px) {

  .section_contactUs .container_contactUs .text_contactUs {

    margin-bottom: 20px;

  }

}

.section_contactUs .container_contactUs .text_contactUs h4 {

  font-size: 25px;
  font-weight: 400;
  line-height: 1.1 !important;
  font-family: Telefonica-Regular, sans-serif;
  margin: 16px 0 !important;
  padding-bottom: 15px;
  color: #00B5f0;

}

@media (max-width: 1200px) {

  .section_contactUs .container_contactUs .text_contactUs h4 {

    text-align: center;

  }

}

@media (max-width: 426px) {

  .section_contactUs .container_contactUs .text_contactUs h4 {

    font-size: 20px;

  }

}

.section_contactUs .container_contactUs .text_contactUs p {

  font-family: Telefonica-Regular, sans-serif;
  font-size: 20px;
  vertical-align: top;
  text-align: justify;

}

@media (max-width: 1200px) {

  .section_contactUs .container_contactUs .text_contactUs p {

    text-align: center;

  }

}

@media (max-width: 426px) {

  .section_contactUs .container_contactUs .text_contactUs p {

    font-size: 16px;
    text-align: center;

  }

}

.section_contactUs .container_contactUs .container_infoUs {

  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;

}

@media (max-width: 1200px) {

  .section_contactUs .container_contactUs .container_infoUs {

    display: inline-block;
    margin-bottom: 0px;

  }

}


.section_contactUs .container_contactUs .container_infoUs .container_cardItem {

  text-align: center;
  margin: 20px 0;

}


@media (max-width: 1200px) {

  .section_contactUs .container_contactUs .container_infoUs .container_cardItem {

    margin: 0px;

  }

}

.section_contactUs .container_contactUs .container_infoUs .container_cardItem img {

  width: 90%;
  max-width: 80px !important;
  height: auto;
  display: block;
  margin: 0 auto;

}


.section_contactUs .container_contactUs .container_infoUs .container_cardItem p {

  font-size: 20px;
  font-weight: 400;
  line-height: 1.1 !important;
  font-family: Telefonica-Regular, sans-serif;
  margin: 16px auto !important;
  padding-bottom: 15px;
  color: #019DF4;
  max-width: 230px !important;
}

@media (max-width: 1200px) {

  .section_contactUs .container_contactUs .container_infoUs .container_cardItem p {

    max-width: initial;

  }

}

@media (max-width: 426px) {

  .section_contactUs .container_contactUs .container_infoUs .container_cardItem p {

    font-size: 16px;
    max-width: 100%;

  }

}



/*Section Footer*/

.section-footer {

  font-size: 0px;
  background-color: #414C62;
  line-height: 1.2;
  width: 100vw;
  padding: 48px 23px;

}

@media (min-width: 1200px) {

  .section-footer {
    padding: 0px;
    position: fixed;
    bottom: 0;
    z-index: 9;

  }

}

@media (max-width: 426px) {

  .section-footer {

    padding: 48px 0px;

  }

}


.section-footer .container_footer {


  justify-content: center;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 0px;

}

@media (min-width: 1200px) {

  .section-footer .container_footer {

    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;

  }

}

@media (max-width: 426px) {

  .section-footer .container_footer {

    justify-content: center;
    width: 100%;

  }

}



.section-footer .container_footer .container_txtFooter {

  color: white;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  margin: 20px auto;


}


@media (min-width: 1200px) {

  .section-footer .container_footer .container_txtFooter {

    color: white;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px;

  }

}

.section-footer .container_footer .container_txtFooter h3 {

  font-size: 24px;
  text-align: center;
  margin: 10px 0 0 !important;
  font-family: 'Telefonica-ExtraLight';
  font-weight: 400;
  line-height: 1.1 !important;


}

@media (min-width: 1200px) {

  .section-footer .container_footer .container_txtFooter h3 {

    font-size: 24px;
    text-align: left;
    margin: 10px 0 0 !important;
    font-family: 'Telefonica-ExtraLight';
    font-weight: 400;
    line-height: 1.1 !important;

  }

}

@media (max-width: 426px) {

  .section-footer .container_footer .container_txtFooter h3 {

    font-size: 20px;
    text-align: center;
    margin: 10px 0 0 !important;

  }
}

.section-footer .container_footer .container_txtFooter p {

  font-size: 15px;
  text-align: center;
  margin: 10px 0 0 !important;
  font-family: Telefonica-ExtraLight, sans-serif;

}


@media (min-width: 1200px) {


  .section-footer .container_footer .container_txtFooter p {

    font-size: 15px;
    text-align: left;
    margin: 5px 0px 5px !important;
    font-family: Telefonica-ExtraLight, sans-serif;

  }

}

@media (max-width: 426px) {

  .section-footer .container_footer .container_txtFooter p {

    font-size: 16px;


  }
}

.section-footer .container_footer .container_contactFooter {

  font-family: 'Telefonica-Regular', sans-serif;
  width: 100%;
  text-align: center;

}

@media (min-width: 1200px) {

  .section-footer .container_footer .container_contactFooter {

    font-family: 'Telefonica-Regular', sans-serif;
    display: inline-block;
    width: 60%;
    text-align: end;

  }

}


.section-footer .container_footer .container_contactFooter .contact_button {

  display: inline-block !important;
  vertical-align: middle;
  width: auto;

}

@media (min-width: 1200px) {

  .section-footer .container_footer .container_contactFooter .contact_button {

    display: inline-block !important;
    vertical-align: middle;
    width: 91.66666667%;

  }

}

.section-footer .container_footer .container_contactFooter .contact_button .button {

  background-color: #00B5f0;
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: 4rem;
  transition: 0.5s;

}

.section-footer .container_footer .container_contactFooter .contact_button .button:hover {

  background-color: white;
  color: #414C62;

}

.section-footer .container_footer .container_contactFooter .contact_button .button {

  color: #FFFF;
  font-family: 'Telefonica-Regular', sans-serif;
  font-size: 24px;
  text-decoration: none;
  position: relative;

}

@media (max-width: 426px) {

  .section-footer .container_footer .container_contactFooter .contact_button .button {

    font-size: 20px;

  }
}

.section-footer .container_footer .container_contactFooter a i {

  font-size: 25px;
  color: white;
  display: inline-block;
  vertical-align: middle;
  text-align: start;
  width: auto;
  margin: 0px 10px;

}

.section-footer .container_footer .container_contactFooter a i:hover {

  color: #00B5f0;

}

@media (min-width: 1200px) {

  .section-footer .container_footer .container_contactFooter a i {

    text-align: end;
    width: 8.33333333%;
    margin: 0px 0px;
  }

}

/*Modal Umbrella*/


/*Modal header*/

.modal-header {

  font-size: 0px;
  padding: 20px 5rem;
  position: relative;
  background-color: #00B5f0;

}

@media (max-width: 426px) {

  .modal-header {

    padding: 20px 0px;

  }

}


@media (max-width: 980px) {

  .modal-header {

    padding: 20px 0px;

  }

}

.modal-header .content_modal_header {

  margin: 0 auto;
  display: flex;
  width: 90%;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;

}


.modal-header .content_modal_header .logo_modal_header {

  width: 20%;
  height: auto;

}

@media (max-width: 426px) {

  .modal-header .content_modal_header .logo_modal_header {

    width: 150px;

  }

}


.modal-header .content_modal_header .container_modal_partners {

  text-align: end;
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;

}



.modal-header .content_modal_header .container_modal_partners .modal_partener_1 {

  width: 150px;
  height: auto;
  margin-right: 55px;

}

@media (max-width: 426px) {


  .modal-header .content_modal_header .container_modal_partners .modal_partener_1 {

    width: 100px;
    margin-right: 10px;

  }

}


.modal-header .content_modal_header .container_modal_partners .modal_partener_2 {

  width: 95px;
  height: auto;

}

@media (max-width: 426px) {


  .modal-header .content_modal_header .container_modal_partners .modal_partener_2 {

    width: 50px;

  }

}

/*Modal body*/

.modal_body {

  font-size: 0;
  margin: 0px auto;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 35px 0px;

}

@media (max-width: 426px) {

  .modal_body {

    max-width: 90%;
    padding: 20px 0px;

  }
}

@media (max-width: 426px) {

  .modal_body .container_modal_Info {

    padding: 0px;

  }

}

.modal_body .container_modal_Info .container_modal_tittle {

  color: #00B5f0;
  font-size: 26px;
  font-weight: normal;
  font-family: 'Telefonica-Light', sans-serif;
  margin: 20px 0px;
  display: inline-block;
  width: 100%;
  text-align: center;

}

@media (max-width: 426px) {

  .modal_body .container_modal_Info .container_modal_tittle {

    font-size: 20px;

  }

}


.modal_body .container_modal_Info .info_modal_content .list-group-horizontal-xxl {

  flex-direction: row;
  justify-content: center;
  margin: auto;
  display: flex;
  width: 100%;
  align-content: space-between;
  flex-wrap: wrap;

}


@media (max-width: 1440px) {

  .modal_body .container_modal_Info .info_modal_content .list-group-horizontal-xxl {

    width: 100%;

  }

}


.modal_body .container_modal_Info .info_modal_content .list-group-item .container_icon {

  width: auto;
  vertical-align: middle;
  margin-right: 40px;
  text-align: left;

}

@media (max-width: 1200px) {

  .modal_body .container_modal_Info .info_modal_content .list-group-item .container_icon {

    margin: 15px auto;

  }

}


.modal_body .container_modal_Info .info_modal_content .list-group-item {

  border: none !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  margin: 0px;
  align-content: center;

}

@media (max-width: 1200px) {

  .modal_body .container_modal_Info .info_modal_content .list-group-item {

    flex-direction: column;

  }

}

@media (max-width: 426px) {

  .modal_body .container_modal_Info .info_modal_content .list-group-item {

    width: 100%;

  }

}

.modal_body .container_modal_Info .info_modal_content .list-group .list-group-item .container_text {

  width: auto;
  vertical-align: middle;
  text-align: left;

}

@media (max-width: 1200px) {

  .modal_body .container_modal_Info .info_modal_content .list-group .list-group-item .container_text {

    text-align: center;

  }

}

.modal_body .container_modal_Info .info_modal_content .list-group .list-group-item .container_text h5 {

  font-size: 25px;
  font-family: Telefonica-Regular, sans-serif;
  margin-bottom: 8px;
  color: #00B5f0;
}

@media (max-width: 426px) {

  .modal_body .container_modal_Info .info_modal_content .list-group .list-group-item .container_text h5 {

    font-size: 20px;

  }

}

.modal_body .container_modal_Info .info_modal_content .list-group .list-group-item .container_text p {

  font-family: Telefonica-Light, sans-serif;
  font-size: 20px;
  color: #414C62;
  font-weight: 400;

}

@media (max-width: 426px) {

  .modal_body .container_modal_Info .info_modal_content .list-group .list-group-item .container_text p {

    font-size: 16px;

  }
}

/* Modal footer */

.modal-footer {

  background-color: #414C62;
  padding: 10px;

}